.not-found-b {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    .not-found-b__title {
        font-family: sans-serif;
        font-size: 54px;
        text-align: center;
        color: #232a34;
    }
}
