.photos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    .photos-list__item {
        background: inherit;
        max-width: 30%;
        min-width: 345px;
        margin: 10px;
    }
    .photos-list__img {
        width: 100%;
        height: 100%;
    }
}
