$headerBg: #232a34;
$textColor: #fff;
$ff: sans-serif;
$fz: 18px;
$headerHeight: 50px;

.header {
    position: fixed;
    display: flex;
    padding: 0  80px;
    align-items: center;
    height: $headerHeight;
    width: 100%;
    background-color: $headerBg;
    justify-content: space-between;
    box-sizing: border-box;
    .header-links {
        display: flex;
        height: 100%;
    }
    .header__link {
        display: flex;
        align-items: center;
        padding: 0  20px;
        height: 100%;
        font-family: $ff;
        font-size: $fz;
        color: $textColor;
        text-decoration: none;
        &:hover {
            background: #313843;
        }
    }
}