$searchBg: #19383d;

.search-b {
    padding: 80px 80px 0px 80px;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: $searchBg;
}

@media (max-width: 600px) {
    .search-b {
        padding: 80px 0px 0px 0px;
    }
}